<div class="modal-header">
  <h4 class="modal-title pull-left">Sign Up</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
     <span aria-hidden="true">&times;</span>
   </button>
</div>
<div class="modal-body">
  <div>
    <div class="form-group row">
      <label for="email-input" class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <input class="form-control" type="email" placeholder="Email" id="email-input" [(ngModel)]="email">
      </div>
    </div>
    <div class="form-group row">
      <label for="password-input" class="col-2 col-form-label">Password</label>
      <div class="col-10">
        <input class="form-control" type="password" placeholder="Password" id="password-input" [(ngModel)]="password">
      </div>
    </div>
    <div class="form-group row">
      <label for="confirm-password-input" class="col-2 col-form-label">Confirm Password</label>
      <div class="col-10">
        <input class="form-control" type="password" placeholder="Confirm Password" id="confirm-password-input" [(ngModel)]="confirmPassword">
      </div>
    </div>
    <div class="form-group row">
      <label for="cellphone-number-input" class="col-2 col-form-label">Cellphone Number</label>
      <div class="col-10">
        <input class="form-control" type="text" placeholder="Cellphone Number" id="cellphone-number-input" [(ngModel)]="phone">
      </div>
    </div>
    <div class="form-group row">
      <label for="first-name-input" class="col-2 col-form-label">First Name </label>
      <div class="col-10">
        <input class="form-control" type="text" placeholder="First Name" id="first-name-input" [(ngModel)]="firstName">
      </div>
    </div>
    <div class="form-group row">
      <label for="last-name-input" class="col-2 col-form-label">Last Name </label>
      <div class="col-10">
        <input class="form-control" type="text" placeholder="Last Name" id="last-name-input" [(ngModel)]="lastName">
      </div>
    </div>
    <div class="form-group row">
      <label for="shipping-address-input" class="col-2 col-form-label">Shipping Address</label>
      <div class="col-10">
        <input class="form-control" type="text" placeholder="Shipping Address" id="shipping-address-input" [(ngModel)]="address">
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" (click)="registerUser()"> Submit </button>
    </div>
  </div>
</div>