<div class="mt-5">
  <form>
    <div class="row">
      <div class="col-md-4 col-xs-12 text-center">
        <label for="distance-input" class="col-12 col-form-label">Distance in KM</label>
        <div class="col-12">
          <input class="form-control" type="number" placeholder="e.g. 10.50 KM" id="distance-input">
        </div>
      </div>
      <div class="col-md-4 col-xs-12 text-center">
        <label for="time-input" class="col-12 col-form-label">Time Completed</label>
        <div class="col-12">
        <input class="form-control" type="text" placeholder="hh:mm:ss" id="time-input">
        </div>
      </div>
      <div class="col-md-4 col-xs-12 text-center">
        <label for="photo-input" class="col-12 col-form-label">Proof of Run</label>
        <div class="col-12">
          <input class="form-control-file" type="file" placeholder="" id="photo-input">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right mt-3">
        <div class="col-12">
          <button class="btn btn-primary"> Submit </button>
        </div>
      </div>
    </div>
  </form>
</div>