/* You can add global styles to this file, and also import other style files */
html, body, app-root, app-home {
  height: 100%;
}

tr.text-center {
  display: none !important;
}

timepicker > table {
  margin: 0 auto;
}

section#about h4 {
    line-height: 1.5;
}